<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Natalie, known as pumashock, is a musician with 30+ years of experience on stage and in the studio. Drawing from her roots in classical piano and vocal performance to her current focus on composition and production, her distinctive musical style reflects her eclectic interests. Today, pumashock is exploring her passion for storytelling through projects incorporating music, writing and visual arts.</p>
      </div>
      <div class="col-lg-4">
        <p>Alongside music, gaming is her lifelong passion. In an effort to merge her greatest loves, she set out  to teach herself how to code and finally create the games (with the music) of her dreams. Join pumashock on her journey as a solo game developer, sharing ideas and encouragement to achieve new, enchanting experiences for the gaming community. </p>
      </div>
<!--       <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
