<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
			{% if post.title %}
            <h2>{{ post.title }}</h2>
			{% endif %}
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<p>{{ post.description }}</p>
					</div>
				</div>	
            {% endif %}<br>
			{% if post.section_1 %}
            <h2>{{ post.section_title_1 }}</h2>
			{% endif %}
			{% if post.page_section_1 %}
            <hr class="star-primary">
			{% endif %}
			{% if post.section_title_1 %}
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-2 text-left">
						<p><img src="/img/{{ post.services_1 }}" alt="{{ post.services_1_alt }}"><br><img src="/img/{{ post.services_2 }}" alt="{{ post.services_2_alt }}"><br><img src="/img/{{ post.services_3 }}" alt="{{ post.services_3_alt }}"></p>
					</div>
					<div class="col-lg-4 text-left">
						<p><img src="/img/{{ post.services_4 }}" alt="{{ post.services_4_alt }}"><br><img src="/img/{{ post.services_5 }}" alt="{{ post.services_5_alt }}"><br><img src="/img/{{ post.services_6 }}" alt="{{ post.services_6_alt }}"></p>
					</div>
				</div>
			</div>
			{% endif %}
			{% if post.brand_testimonial %}
			<div class="container">
				<div class="row">
					<div class="col-lg-6 text-center">
						<img src="img/testimonials/{{ post.testimonial_1 }}" class="img-responsive img-centered" alt="{{ post.testimonial_1_alt }}">
					</div>
					<div class="col-lg-6 text-center">
						<img src="img/testimonials/{{ post.testimonial_2 }}" class="img-responsive img-centered" alt="{{ post.testimonial_2_alt }}">
					</div>
				</div>
			</div>
            {% endif %}
			{% if post.brand_section_2 %}
            <hr class="star-primary">
			{% endif %}
			{% if post.brand_portfolio %}
			 <div class="container">
				<div class="row">
					<div class="col-lg-4 text-right">
						<h3>{{ post.brand_portfolio_title }}</h3>
					</div>
					<div class="col-lg-8 text-left">
						<p>{{ post.brand_portfolio_description }}</p>
					</div>
				</div>
			</div>
            {% endif %}
			<ul class="list-inline item-details">
              {% if post.brand_portfolio_1 %}
              <li>{{ post.brand_img_1_title }}
				<a href="img/brand_portfolio/{{ post.brand_img_1 }}" target="_blank">VA Careers</a>
              </li>
              {% endif %}
			  {% if post.brand_portfolio_2 %}
              <li>{{ post.brand_img_2_title }}
				<a href="img/brand_portfolio/{{ post.brand_img_2 }}" target="_blank">GM Careers</a>
              </li>
              {% endif %}
			  {% if post.brand_portfolio_3 %}
              <li>{{ post.brand_img_3_title }}
				<a href="img/brand_portfolio/{{ post.brand_img_3 }}" target="_blank">Capital One Cafe</a>
              </li>
              {% endif %}
			  </ul>
			  <ul class="list-inline item-details">
			  {% if post.brand_portfolio_4 %}
              <li>{{ post.brand_img_4_title }}
				<a href="img/brand_portfolio/{{ post.brand_img_4 }}" target="_blank">Ann Taylor Careers</a>
              </li>
              {% endif %}
			  {% if post.brand_portfolio_5 %}
              <li>{{ post.brand_img_5_title }}
				<a href="img/brand_portfolio/{{ post.brand_img_5 }}" target="_blank">Cleveland Clinic Careers</a>
              </li>
              {% endif %}
			  {% if post.brand_portfolio_6 %}
              <li>{{ post.brand_img_6_title }}
				<a href="img/brand_portfolio/{{ post.brand_img_6 }}" target="_blank">Comcast Careers</a>
              </li>
              {% endif %}
            </ul>
			{% if post.section_2 %}
            <h2>{{ post.section_title_2 }}</h2>
			{% endif %}
			
			<!-- music sections -->
			{% if post.music_section_3 %}
            <hr class="star-primary">
			{% endif %}
			{% if post.music_spotlight_1 %}
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h3>{{ post.spotlight_1_title }}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
					<p><img src="/img/music_spotlight/{{ post.spotlight_1_img }}" alt="{{ post.spotlight_1_alt }}"></p>
					</div>
					<div class="col-lg-6 text-left">
						<p>{{ post.spotlight_1_desc }}</p>
					</div>
				</div>
				<hr class="star-primary">
			</div>	
			{% endif %}
			{% if post.music_spotlight_2 %}
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h3>{{ post.spotlight_2_title }}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
					<p><img src="/img/music_spotlight/{{ post.spotlight_2_img }}" alt="{{ post.spotlight_2_alt }}"></p>
					</div>
					<div class="col-lg-6 text-left">
						<p>{{ post.spotlight_2_desc }}</p>
					</div>
				</div>
				<hr class="star-primary">
			</div>	
			{% endif %}
			{% if post.music_spotlight_3 %}
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h3>{{ post.spotlight_3_title }}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
					<p><img src="/img/music_spotlight/{{ post.spotlight_3_img }}" alt="{{ post.spotlight_3_alt }}"></p>
					</div>
					<div class="col-lg-6 text-left">
						<p>{{ post.spotlight_3_desc }}</p>
					</div>
					{% if post.music_spotlight_3 %}
					<div class="col-lg-4 text-left">
						<p><img src="/img/testimonials/{{ post.spotlight_3_testimonial }}"></p>
					</div>
					{% endif %}
				</div>
				<hr class="star-primary">
			</div>	
			{% endif %}
			
			<!-- brand sections -->
			{% if post.brand_section_3 %}
            <hr class="star-primary">
			{% endif %}
			{% if post.section_title_2 %}
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<p><img src="/img/brand_process/{{ post.process_1_title }}" alt="{{ post.process_1_alt }}"></p>
					</div>
					<div class="col-lg-6">
						<p><img src="/img/brand_process/{{ post.process_2_title }}" alt="{{ post.process_2_alt }}"></p>
					</div>
					<div class="col-lg-6 text-center">	
						<p><img src="/img/brand_process/{{ post.process_1 }}" alt="{{ post.process_1_alt }}"></p>
					</div>
					<div class="col-lg-6 text-center">	
						<p><img src="/img/brand_process/{{ post.process_2 }}" alt="{{ post.process_2_alt }}"></p>
					</div>
				</div>	
				
				<div class="row">	
					<div class="col-lg-6 text-center">
						<p><img src="/img/brand_process/{{ post.process_3_title }}" alt="{{ post.process_3_alt }}"></p>
					</div>
					<div class="col-lg-6 text-center">
						<p><img src="/img/brand_process/{{ post.process_4_title }}" alt="{{ post.process_4_alt }}"></p>
					</div>
					<div class="col-lg-6 text-center">
						<p><img src="/img/brand_process/{{ post.process_3 }}" alt="{{ post.process_3_alt }}"></p>
					</div>
					<div class="col-lg-6 text-center">
						<p><img src="/img/brand_process/{{ post.process_4 }}" alt="{{ post.process_4_alt }}"></p>
					</div>
				</div>
			</div>
			{% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
